<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalalert">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Optional hardware features -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_medical_cross"
        android:roundIcon="@drawable/ic_medical_cross"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login first before Main -->
        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity android:name=".activities.RegisterActivity" />

        <!-- Main Dashboard -->
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.EmergencyTriggerActivity" />
        <activity android:name=".activities.VideoCallActivity" />
        <activity android:name=".activities.AlertHospitalActivity" />

        <!-- Services -->
        <service android:name=".services.LocationService" android:exported="false" />
        <service android:name=".services.AudioAlertService" android:exported="false" />
        <service android:name=".services.AlertService" android:exported="false" />
        <service android:name=".services.VideoCallService" android:exported="false" />

    </application>

</manifest>
